@import '../../theme/variables';

.utilityHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: floor($header-height / 3);
    background: $color-bg-primary;
    margin: auto;
}