$color-bg-primary: #046b99;
$color-fg-primary: #ffffff;

$padding-xs: 5px;
$padding-sm: 10px;
$padding-md: 15px;
$padding-lg: 20px;
$padding-xl: 25px;

$font-xs: 10px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 26px;

$header-height: 130px;